In [3]:
import pandas as pd
!pip install --upgrade gensim

Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (4.1.2)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (5.2.1)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.21.5)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.4.1)

In [5]:
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

Create a new column for Make Model

In [6]:
df['Maker_Model']= df['Make']+ " " + df['Model']

Select features from original dataset to form a new dataframe

In [8]:
df1 = df[['Engine Fuel Type','Transmission Type','Driven_Wheels','Market Category','Vehicle Size', 'Vehicle Style', 'Maker_Model']]
df1.head()

,Engine Fuel Type,Transmission Type,Driven_Wheels,Market Category,Vehicle Size,Vehicle Style,Maker_Model
0,premium unleaded (required),MANUAL,rear wheel drive,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,BMW 1 Series M
1,premium unleaded (required),MANUAL,rear wheel drive,"Luxury,Performance",Compact,Convertible,BMW 1 Series
2,premium unleaded (required),MANUAL,rear wheel drive,"Luxury,High-Performance",Compact,Coupe,BMW 1 Series
3,premium unleaded (required),MANUAL,rear wheel drive,"Luxury,Performance",Compact,Coupe,BMW 1 Series
4,premium unleaded (required),MANUAL,rear wheel drive,Luxury,Compact,Convertible,BMW 1 Series

For each row, combine all the columns into one column

In [10]:
df2 = df1.apply(lambda x: ','.join(x.astype(str)), axis=1)
df2.head()
#Store them in a pandas dataframe
df_clean = pd.DataFrame({'clean': df2})

Create the list of list format of the custom corpus for gensim modeling

In [12]:
sent = [row.split(',') for row in df_clean['clean']]
print(sent[:2])

[['premium unleaded (required)', 'MANUAL', 'rear wheel drive', 'Factory Tuner', 'Luxury', 'High-Performance', 'Compact', 'Coupe', 'BMW 1 Series M'], ['premium unleaded (required)', 'MANUAL', 'rear wheel drive', 'Luxury', 'Performance', 'Compact', 'Convertible', 'BMW 1 Series']]

In [15]:
from gensim.models import Word2Vec
model = Word2Vec(sent, min_count=1,workers=3, window =3, sg = 1)

# Hyperparameter Tuning



1.   window: The maximum distance between a target word and words around the target word. The default window is 5.
2.   min_count: The minimum count of words to consider when training the model; words with occurrence less than this count will be ignored. The default for min_count is 5
3. workers: The number of partitions during training and the default workers is 3
4. sg: The training algorithm, either CBOW(0) or skip gram(1). The default training algorithm is CBOW.

In [21]:
model.wv['Toyota Camry']

array([-0.07156204, -0.03905657,  0.05784235,  0.13902299, -0.06961512,
       -0.02934458,  0.10729045,  0.07991473, -0.17514831, -0.1417411 ,
        0.04348417, -0.03542363,  0.03657366,  0.14343953,  0.12694487,
        0.04515973,  0.14568536,  0.00887832, -0.13604887, -0.2309391 ,
        0.03826908,  0.11466964,  0.14135183, -0.04167096, -0.00098387,
        0.14574945, -0.16358319,  0.08935625, -0.04022948,  0.10807054,
        0.18094626, -0.02130773,  0.09813552, -0.09849214, -0.14220159,
        0.0038646 , -0.04938563, -0.0190866 , -0.12287071, -0.04303168,
        0.08469999, -0.01168882, -0.03019135,  0.01536316,  0.07777336,
       -0.10256776, -0.09975006, -0.13027926,  0.1391068 ,  0.06804067,
        0.02624839, -0.05211073, -0.0751378 , -0.07251499, -0.01951017,
        0.0327469 ,  0.04357309,  0.03997077,  0.08006755, -0.02607512,
       -0.01084489, -0.01864748,  0.25940302,  0.07973441, -0.13360506,
        0.15950371, -0.01455576,  0.05047109, -0.13038412,  0.05403284,
        0.01012175,  0.06345598,  0.00929316, -0.02089463,  0.03011764,
        0.00728809,  0.08455862,  0.08721809, -0.11726799, -0.04523968,
       -0.1549096 , -0.13165833, -0.02176214,  0.1486588 , -0.02105944,
       -0.06561122,  0.02625344, -0.03313587, -0.01096107,  0.00733252,
        0.0150431 ,  0.00367828, -0.01240354,  0.01461629,  0.10093574,
        0.02340532,  0.15910326,  0.01915783,  0.0381189 ,  0.13412377],
      dtype=float32)

# Compute Similarities

In [23]:
model.wv.similarity('Porsche 718 Cayman', 'Nissan Van')
0.822824584626184

0.822824584626184

In [25]:
model.wv.most_similar('Mercedes-Benz SLK-Class')[:5]

[('Mercedes-Benz CLK-Class', 0.9930711388587952),
 ('Ferrari 458 Italia', 0.9928126931190491),
 ('Mercedes-Benz SL-Class', 0.9922751784324646),
 ('Maserati GranTurismo Convertible', 0.9920684695243835),
 ('Lamborghini Murcielago', 0.9915921688079834)]